pushn 1
pushn 1
pushn 1
pushi 0
storeg 2
pushn 1
pushi 10
storeg 3
pushn 10
start
pushs "a: "
writes
pushg 0
writei
pushs " | i: "
writes
pushg 1
writei
pushs "\n"
writes
pushi 10
pushi 0
pushi -2
pushi 0
inf
jz cycle1
cycle0:
infeq
jz cycle2
jump cycle4
cycle1:
supeq
jz cycle2
jump cycle4
cycle2:
pushi 10
storeg 1
cycle3:
pushg 0
pushi 2
add
storeg 0
pushg 1
pushi -2
add
storeg 1
pushg 1
pushi 0
pushi -2
pushi 0
inf
jz cycle6
cycle5:
infeq
jz cycle3
jump cycle7
cycle6:
supeq
jz cycle3
jump cycle7
cycle7:
pushs "a: "
writes
pushg 0
writei
pushs " | i: "
writes
pushg 1
writei
pushs "\n"
writes
stop