start
pushs "Array:        "
writes
pushi 0
storeg 0
pushgp
pushi 3
padd
pushi 0
loadn
storeg 2
cycle9:
pushg 2
writei
pushs " "
writes
pushi 10
pushg 0
pushi 1
add
storeg 0
pushgp
pushi 3
padd
pushg 0
loadn
storeg 2
pushg 0
infeq
jz cycle9
pushi 1
pushi 10
inf
jz cycle18
pushi 1
storeg 0
cycle17:
pushg 0
storeg 1
pushg 1
pushi 0
sup
dup 1
jz func14
pushg 1
pushi 1
sub
pushi 0
inf
jz func11
err "\n\n------------------------------------------------------------------------------------------\nLine 17: Index of array 'v' smaller than zero.\n------------------------------------------------------------------------------------------\n"
stop
func11:
pushg 1
pushi 1
sub
pushi 10
supeq
jz func10
err "\n\n------------------------------------------------------------------------------------------\nLine 17: Index of array 'v' too high for its size.\n------------------------------------------------------------------------------------------\n"
stop
func10:
pushgp
pushi 3
padd
pushg 1
pushi 1
sub
loadn
pushg 1
pushi 0
inf
jz func13
err "\n\n------------------------------------------------------------------------------------------\nLine 17: Index of array 'v' smaller than zero.\n------------------------------------------------------------------------------------------\n"
stop
func13:
pushg 1
pushi 10
supeq
jz func12
err "\n\n------------------------------------------------------------------------------------------\nLine 17: Index of array 'v' too high for its size.\n------------------------------------------------------------------------------------------\n"
stop
func12:
pushgp
pushi 3
padd
pushg 1
loadn
sup
mul
func14:
jz cycle16
cycle15:
pusha fswap
call
nop
pushg 1
pushi 1
sub
storeg 1
pushg 1
pushi 0
sup
dup 1
jz func14
pushg 1
pushi 1
sub
pushi 0
inf
jz func11
err "\n\n------------------------------------------------------------------------------------------\nLine 17: Index of array 'v' smaller than zero.\n------------------------------------------------------------------------------------------\n"
stop
func11:
pushg 1
pushi 1
sub
pushi 10
supeq
jz func10
err "\n\n------------------------------------------------------------------------------------------\nLine 17: Index of array 'v' too high for its size.\n------------------------------------------------------------------------------------------\n"
stop
func10:
pushgp
pushi 3
padd
pushg 1
pushi 1
sub
loadn
pushg 1
pushi 0
inf
jz func13
err "\n\n------------------------------------------------------------------------------------------\nLine 17: Index of array 'v' smaller than zero.\n------------------------------------------------------------------------------------------\n"
stop
func13:
pushg 1
pushi 10
supeq
jz func12
err "\n\n------------------------------------------------------------------------------------------\nLine 17: Index of array 'v' too high for its size.\n------------------------------------------------------------------------------------------\n"
stop
func12:
pushgp
pushi 3
padd
pushg 1
loadn
sup
mul
func14:
not
jz cycle15
cycle16:
pushg 0
pushi 1
add
storeg 0
pushg 0
pushi 10
supeq
jz cycle17
cycle18:
pushs "\nSorted array: "
writes
pushi 0
storeg 0
pushgp
pushi 3
padd
pushi 0
loadn
storeg 2
cycle19:
pushg 2
writei
pushs " "
writes
pushi 10
pushg 0
pushi 1
add
storeg 0
pushgp
pushi 3
padd
pushg 0
loadn
storeg 2
pushg 0
infeq
jz cycle19
pushs "\n"
writes
stop

fswap:
nop
pushg 1
pushi 1
sub
pushi 0
inf
jz func1
err "\n\n------------------------------------------------------------------------------------------\nLine 4: Index of array 'v' smaller than zero.\n------------------------------------------------------------------------------------------\n"
stop
func1:
pushg 1
pushi 1
sub
pushi 10
supeq
jz func0
err "\n\n------------------------------------------------------------------------------------------\nLine 4: Index of array 'v' too high for its size.\n------------------------------------------------------------------------------------------\n"
stop
func0:
pushgp
pushi 3
padd
pushg 1
pushi 1
sub
loadn
storeg 2
pushg 1
pushi 1
sub
pushi 0
inf
jz func5
err "\n\n------------------------------------------------------------------------------------------\nLine 5: Index of array 'v' smaller than zero.\n------------------------------------------------------------------------------------------\n"
stop
func5:
pushg 1
pushi 1
sub
pushi 10
supeq
jz func4
err "\n\n------------------------------------------------------------------------------------------\nLine 5: Index of array 'v' too high for its size.\n------------------------------------------------------------------------------------------\n"
stop
func4:
pushgp
pushi 3
padd
pushg 1
pushi 1
sub
pushg 1
pushi 0
inf
jz func3
err "\n\n------------------------------------------------------------------------------------------\nLine 5: Index of array 'v' smaller than zero.\n------------------------------------------------------------------------------------------\n"
stop
func3:
pushg 1
pushi 10
supeq
jz func2
err "\n\n------------------------------------------------------------------------------------------\nLine 5: Index of array 'v' too high for its size.\n------------------------------------------------------------------------------------------\n"
stop
func2:
pushgp
pushi 3
padd
pushg 1
loadn
storen
pushg 1
pushi 0
inf
jz func7
err "\n\n------------------------------------------------------------------------------------------\nLine 6: Index of array 'v' smaller than zero.\n------------------------------------------------------------------------------------------\n"
stop
func7:
pushg 1
pushi 10
supeq
jz func6
err "\n\n------------------------------------------------------------------------------------------\nLine 6: Index of array 'v' too high for its size.\n------------------------------------------------------------------------------------------\n"
stop
func6:
pushgp
pushi 3
padd
pushg 1
pushg 2
storen
return
